.main-about{
    display: flex;
    /* align-items: center;
    justify-content: center; */
}
.aboutText-desc{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex: 1;
    width: 80%;
    border-radius: 3%;
    margin: 15px 10px 10px;
    padding: 15px 15px 15px;
    font-size: 18px;
    margin-top: 10px;
    
}


.aboutText-right  img{
   width: 400px;
   height: 400px;
   border-radius: 20px;
    
}

.download {
    background-color: aquamarine;
    padding: 8px 16px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
}

.download a {
    text-decoration: none;
    color: black;
}

@media only screen and (max-width:720px){
    .main-about {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .aboutText-left{
        width: 100%;
        font-size: 18px;
    }
    .aboutText-right img {
        width: 300px;
        height: 300px;

    }

      .aboutText-right {
         margin-top: 30px;

      }
}